codigo/flows/Semaforo.json
[
    {
        "id": "b641a1796a25e901",
        "type": "tab",
        "label": "semaforo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e4b5129453835bd1",
        "type": "mqtt in",
        "z": "b641a1796a25e901",
        "name": "Valores",
        "topic": "equipouv/javierjesusluis/valor2",
        "qos": "2",
        "datatype": "auto",
        "broker": "87a44c144606579c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 220,
        "wires": [
            [
                "0c5282708b5d19d7",
                "e0d0737eddbeba8e",
                "cb78ceee27974356",
                "7d629d2570bdc60f"
            ]
        ]
    },
    {
        "id": "0c5282708b5d19d7",
        "type": "serial out",
        "z": "b641a1796a25e901",
        "name": "semaforo",
        "serial": "536daea7eb44c1e2",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "e0d0737eddbeba8e",
        "type": "debug",
        "z": "b641a1796a25e901",
        "name": "semaforo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "12c93e44d959b956",
        "type": "ui_text",
        "z": "b641a1796a25e901",
        "group": "e396506660fd001a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "<font color= {{msg.color}} > {{msg.payload}} </font>",
        "layout": "row-spread",
        "className": "",
        "x": 750,
        "y": 240,
        "wires": []
    },
    {
        "id": "cb78ceee27974356",
        "type": "function",
        "z": "b641a1796a25e901",
        "name": "",
        "func": "if(msg.payload==\"0\")\n{\n    msg.payload=\"Bien.\";\n    msg.color = \"Green\";\n}\nelse\n{\n    msg.payload=\"Mal.\";\n    msg.color = \"Red\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 220,
        "wires": [
            [
                "12c93e44d959b956"
            ]
        ]
    },
    {
        "id": "c2a1ce023753bcc8",
        "type": "ui_text",
        "z": "b641a1796a25e901",
        "group": "e396506660fd001a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "<img src = '{{msg.payload}}' alt = 'Logo image not found' />",
        "layout": "col-center",
        "className": "",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "7d629d2570bdc60f",
        "type": "function",
        "z": "b641a1796a25e901",
        "name": "Led",
        "func": "if(msg.payload==\"0\")\n{\n   msg.payload=\"http://148.226.200.45:8080/iconledverde.png\"; \n}\nelse\n{\n    msg.payload=\"http://148.226.200.45:8080/iconledrojo.png\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 280,
        "wires": [
            [
                "c2a1ce023753bcc8"
            ]
        ]
    },
    {
        "id": "87a44c144606579c",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "536daea7eb44c1e2",
        "type": "serial-port",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "30000"
    },
    {
        "id": "e396506660fd001a",
        "type": "ui_group",
        "name": "Funciona",
        "tab": "657ef18dfc402769",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "657ef18dfc402769",
        "type": "ui_tab",
        "name": "Valores",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
