codigo/flows/Ver IP.json
[
    {
        "id": "f8469abd76d675e1",
        "type": "tab",
        "label": "Ver IP",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "88100e4e7550627f",
        "type": "ip",
        "z": "f8469abd76d675e1",
        "name": "IP local",
        "https": false,
        "timeout": "5000",
        "internalIPv4": true,
        "internalIPv6": false,
        "publicIPv4": false,
        "publicIPv6": false,
        "x": 360,
        "y": 300,
        "wires": [
            [
                "7d09155f2f6015f5",
                "c0dcb024b0ff3d91"
            ]
        ]
    },
    {
        "id": "7d09155f2f6015f5",
        "type": "debug",
        "z": "f8469abd76d675e1",
        "name": "IP local",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 320,
        "wires": []
    },
    {
        "id": "76101392c4a036ce",
        "type": "inject",
        "z": "f8469abd76d675e1",
        "name": "Solicita envio",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "88100e4e7550627f"
            ]
        ]
    },
    {
        "id": "c0dcb024b0ff3d91",
        "type": "mqtt out",
        "z": "f8469abd76d675e1",
        "name": "IP enviada",
        "topic": "equipouv/javierjesusluis/valor3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3163981365519d59",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "3163981365519d59",
        "type": "mqtt-broker",
        "name": "test.mosquitto.org",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]
